<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="search/search.css" />
  </head>
  <body>
    <section class="menu" id="Explore">
      <!-- <h3 class="sub-heading">our menu</h3> -->
      <h1 class="heading">Search Results</h1>

      <div class="box-container">
        <%newListItems.forEach(function(item){%>
        <div class="box">
          <div class="image">
            <img src="search/thelewala1.png" alt="" />
            <a href="#" class="fas fa-heart"></a>
          </div>

          <div class="content">
            <h3><%=item.name%></h3>

            <p>
              Contact : +91 <%=item.number%> <br />
              Area : <%=item.area%> <br />
              Category : <%=item.category%>
            </p>
            <a href="<%= item.url%>" target="_blank"
              ><button type="button" class="btn">Directions</button>
            </a>
          </div>
        </div>
        <%})%>
      </div>
    </section>
  </body>
</html>
